<app-header></app-header>


<div class="container">
  <div class="container-wrapper">
    <div class="textcard">
      <h4 class="textcard-heading">This is a card</h4>
      <p class="textcard-description">This is card description</p>
    </div>

    <input class="input-danger" type="text" placeholder="This is a test. Please omit this">
  </div>
  <div class="container-wrapper clearfix text-center">
    <app-card *ngFor="let item of [1,2,3]"></app-card>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="container-wrapper row">
    <app-nozoom class="col"></app-nozoom>
    <app-zoom class="col"></app-zoom>
  </div>
</div>
