$color-primary: #1abc9c;
$color-secondary: #c0392b;
$color-disabled: #7f8c8d;
$color-dark: #2c3e50;

$color-light-bg: #ffffff;
$color-shadow: #aaaaaa;
$color-dark-bg: #333333;

$color-border-dark: #333333;
$color-border-light: #aaaaaa;

